
*{
    margin: 0;
    padding: 0;

}

body{
    background-image: url('../imagem/home.png');
    background-size: cover;
}

header{
    background-color: azure;
    text-align: center;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
.container{
    max-width: 1000px;
    margin: auto;
}

.formContainer{
    max-width: 400px;
    background-color: #ffffffbb;
    padding:20px;
    float: right;
    font-family: 'Courier New', Courier, monospace;

}
.formContainer2{
    max-width: center;
    background-color: #ffffffbb;
    padding:20px;    
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.mb{ /*ajusta*/
    margin-bottom: 25px;
    font-size: 32px;
    text-align: center;
    border-style: dashed;
    font-family: 'Courier New', Courier, monospace;
}
.mb2{ /*ajusta*/
    margin-bottom: 25px;
    color: deeppink;
    font-size: 32px;
    text-align: center;
    border-style: dashed;
    font-family: 'Courier New', Courier, monospace;
}
.pForm{ /*texto formulario */
    font-size: 15px;
    font-weight: bold;
}

input, select{
    width:100%;
    box-sizing: border-box;
    padding: 9px;
    border:none;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
    background-color: lavender;
}

input[type="submit"]{
    color:azure;
    background-color: cadetblue;
    font-weight: bold;
}

section{
    padding: 20px;
    overflow: hidden;
}


